/* General Website */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.general{
    width: 100%;
    height: 100vh;
    background-image: url('./images/Cover.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    width: 400px;
    height: 400px;
    z-index: 5;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top:-2.5%;
}

.circleleft{
    position: absolute;
    left:50%;
    margin-left: -495px;
    height:100vh;
}

.circleleft:hover{
    opacity: 0.8;
}
.circleright:hover{
    opacity: 0.8;
}

.circleright{
    position: absolute;
    right:50%;
    margin-right: -495px;
    height:100vh;
}

.discover-coffee,.discover-furniture{
    color: #fff;
    position: absolute;
    top:60%;
    font-family: 'Lancelot';
    font-weight: 400;
    font-size: 3rem;
}
.arrow-left,.arrow-right{
    width: 100px;
    position: absolute;
    top:70%;
}

.discover-coffee{
    left:22%;
}

.arrow-left{
    left:25%;
}

.discover-furniture{
    right:25%;
}

.arrow-right{
    right:25%;
    transform: rotate(180deg);
}



 @-webkit-keyframes arrow-jump-left {
    0%   { opacity: 0.5;}
    100% { opacity: 1; 
      -webkit-transform: translateX(-20px);
      -moz-transform: translateX(-20px);
      -o-transform: translateX(-20px);
      transform: translateX(-20px);
      transition: all ease-in;
      }  
  }

  @-webkit-keyframes arrow-jump-right {
    0%   { opacity: 0.5;}
    100% { opacity: 1; 
      -webkit-transform: translateX(20px);
      -moz-transform: translateX(20px);
      -o-transform: translateX(20px);
      transform: translateX(20px) rotate(180deg);
      transition: all ease-in;
      }  
  }
  .circle-left-a:hover ~ .arrow-left {
    -webkit-animation: arrow-jump-left 2s infinite; /* Safari 4+ */
    -moz-animation:    arrow-jump-left 2s infinite; /* Fx 5+ */
    -o-animation:      arrow-jump-left 2s infinite; /* Opera 12+ */
    animation:         arrow-jump-left 2s infinite; /* IE 10+, Fx 29+ */
  }

  .circle-right-a:hover ~ .arrow-right {
    -webkit-animation: arrow-jump-right 2s infinite; /* Safari 4+ */
    -moz-animation:    arrow-jump-right 2s infinite; /* Fx 5+ */
    -o-animation:      arrow-jump-right 2s infinite; /* Opera 12+ */
    animation:         arrow-jump-right 2s infinite; /* IE 10+, Fx 29+ */
  }