/* General Website */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    overflow-y:hidden;
}

.general{
    width: 100%;
    height: 100vh;
    /* background-image: url('./images/Cover.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    flex-wrap: wrap;
}

.logo{
    width: 400px;
    height: 400px;
    z-index: 5;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top:-2.5%;
}

.left-section, .right-section{
    position: relative;
    width: 50%;
}
.left-section{
    border-right: 2.5px solid #f7c12f;
    background-image: url('./images/cover-left.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.right-section{
    border-left: 2.5px solid #f7c12f;
    background-image: url('./images/cover-right.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.circleleft{
    position: absolute;
    right:0px;
    bottom: 0;
    width: 550px;
    max-width: 100%;
}

 .circleleft:hover{
    opacity: 0.8;
}
.circleright:hover{
    opacity: 0.8;
}

.circleright{
    position: absolute;
    left:0px;
    bottom: 0px;
    width: 550px;
    max-width: 100%;
}

.discover-coffee,.discover-furniture{
    color: #fff;
    position: absolute;
    font-family: 'Lancelot';
    font-weight: 400;
    font-size: 3rem;
    top: 50%;
}
.arrow-left,.arrow-right{
    width: 100px;
    position: absolute;
    top:70%;
}

.discover-coffee{
    right:50px;
}

.arrow-left{
    right: 200px;
}

.discover-furniture{
    left:50px;
}

.arrow-right{
    left:200px;
    transform: rotate(180deg);
} 

@media screen and (min-height: 1250px) {
    .discover-coffee,.discover-furniture{
        top: 70%;
    }
    .arrow-left,.arrow-right{
        top:80%;
    }
}

@media screen and (max-width: 929px) {
    body{
        overflow-y: unset;
    }
    .general{
        flex-direction: row;
    }
    .logo{
        width: 200px;
        height: 200px;
        margin-left: -150px;
        left: unset;
        right: 10px;
    }
    .discover-coffee,.discover-furniture{
        font-size: 2rem;
    }
    .discover-coffee{
        top: 60%;
        right: 80px;
    }
    .arrow-left{
        top: 70%;
        right: 80px;
    }
    .discover-furniture{
        top: 10%;
        left: 80px;
    }
    .arrow-right{
        top: 20%;
        left: 80px;
    }
    .arrow-left,.arrow-right{
        width: 50px;
    }
    .left-section, .right-section{
        width: 100%;
    }
    .left-section{
        border-right: unset;
        border-bottom: 1px solid #f7c12f;
    }
    .right-section{
        background-position: 0px -350px;
        border-left: unset;
        border-top: 1px solid #f7c12f;
    }
    .circleleft{
        display: none;
    }
    .circleright{
        display: none;
    }
}

@media screen and (max-width: 745px) {
    .right-section{
        background-position: 0px -250px;
    }
}
@media screen and (max-width: 641px) {
    .right-section{
        background-position: 0px -150px;
    }
}
@media screen and (max-width: 600px) {
    .logo{
        width: 150px;
        height: 150px;
    }
    .right-section{
        background-position: 0px -150px;
    }
    .discover-coffee{
        top: 40%;
        right: 80px;
    }
    .arrow-left{
        top: 50%;
        right: 80px;
    }
}
@media screen and (max-width: 539px) {
    .right-section{
        background-position: 0px -50px;
    }
}
@media screen and (max-width: 446px) {
    .right-section{
        background-position: 0px -0px;
    }
    .discover-coffee{
        top: 40%;
        right: 20px;
    }
    .arrow-left{
        top: 50%;
        right: 20px;
    }
    .discover-furniture{
        top: 10%;
        left: 20px;
    }
    .arrow-right{
        top: 20%;
        left: 20px;
    }
}

@media screen and (max-width: 358px) {
    .discover-coffee,.discover-furniture{
        font-size: 1.5rem;
    }
    .arrow-left{
        width: 40px;
    }
    .arrow-right{
        width: 40px;
    }
}



 @-webkit-keyframes arrow-jump-left {
    0%   { opacity: 0.5;}
    100% { opacity: 1; 
      -webkit-transform: translateX(-20px);
      -moz-transform: translateX(-20px);
      -o-transform: translateX(-20px);
      transform: translateX(-20px);
      transition: all ease-in;
      }  
  }

  @-webkit-keyframes arrow-jump-right {
    0%   { opacity: 0.5;}
    100% { opacity: 1; 
      -webkit-transform: translateX(20px);
      -moz-transform: translateX(20px);
      -o-transform: translateX(20px);
      transform: translateX(20px) rotate(180deg);
      transition: all ease-in;
      }  
  }
  .circle-left-a:hover  .arrow-left {
    -webkit-animation: arrow-jump-left 2s infinite; /* Safari 4+ */
    -moz-animation:    arrow-jump-left 2s infinite; /* Fx 5+ */
    -o-animation:      arrow-jump-left 2s infinite; /* Opera 12+ */
    animation:         arrow-jump-left 2s infinite; /* IE 10+, Fx 29+ */
  }

  .circle-right-a:hover  .arrow-right {
    -webkit-animation: arrow-jump-right 2s infinite; /* Safari 4+ */
    -moz-animation:    arrow-jump-right 2s infinite; /* Fx 5+ */
    -o-animation:      arrow-jump-right 2s infinite; /* Opera 12+ */
    animation:         arrow-jump-right 2s infinite; /* IE 10+, Fx 29+ */
  }

  .arrow-left:hover  {
    -webkit-animation: arrow-jump-left 2s infinite; /* Safari 4+ */
    -moz-animation:    arrow-jump-left 2s infinite; /* Fx 5+ */
    -o-animation:      arrow-jump-left 2s infinite; /* Opera 12+ */
    animation:         arrow-jump-left 2s infinite; /* IE 10+, Fx 29+ */ 
  }

  .arrow-right:hover{
    -webkit-animation: arrow-jump-right 2s infinite; /* Safari 4+ */
    -moz-animation:    arrow-jump-right 2s infinite; /* Fx 5+ */
    -o-animation:      arrow-jump-right 2s infinite; /* Opera 12+ */
    animation:         arrow-jump-right 2s infinite; /* IE 10+, Fx 29+ */
  }

  .discover-coffee:hover + .arrow-left{
    -webkit-animation: arrow-jump-left 2s infinite; /* Safari 4+ */
    -moz-animation:    arrow-jump-left 2s infinite; /* Fx 5+ */
    -o-animation:      arrow-jump-left 2s infinite; /* Opera 12+ */
    animation:         arrow-jump-left 2s infinite; /* IE 10+, Fx 29+ */ 
  }

  .discover-furniture:hover + .arrow-right{
    -webkit-animation: arrow-jump-right 2s infinite; /* Safari 4+ */
    -moz-animation:    arrow-jump-right 2s infinite; /* Fx 5+ */
    -o-animation:      arrow-jump-right 2s infinite; /* Opera 12+ */
    animation:         arrow-jump-right 2s infinite; /* IE 10+, Fx 29+ */
  }