*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}
 
 
 body {
	 background-color: #f2f4f3;
	 font-size: 13px;
	 overflow-x: hidden;
}

/* Nav  */
 #header {
	 padding: 2rem;
}

.shop-bean{
width: 40px;
}

.shop-now{
	border: 2px solid #67412b;
	font-family: 'Lora', serif; 
	font-weight: 700;
	font-size:1.2rem;
	position: absolute;
	top:1.5%;
	left:2%;
	background-color: transparent;
	border-radius: 50%;
	padding: 0% 1%;
}

.shop{
	padding-bottom: 10px;
	
}

 #menu {
	 background: #cdb29e;
	 height: 100%;
	 left: 0;
	 opacity: 0;
	 overflow: hidden;
	 position: fixed;
	 text-align: center;
	 top: 0;
	 transition: all 0.7s ease-in-out;
	 visibility: hidden;
	 width: 100%;
	 z-index: 9999998;
}
 #menu.open {
	 opacity: 1;
	 visibility: visible;
}
 #menu.open li:nth-child(1) {
	 animation-delay: 0.1s;
}
 #menu.open li:nth-child(2) {
	 animation-delay: 0.2s;
}
 #menu.open li:nth-child(3) {
	 animation-delay: 0.3s;
}
 #menu.open li:nth-child(4) {
	 animation-delay: 0.4s;
}
 #menu.open li:nth-child(5) {
	 animation-delay: 0.5s;
}
 #menu.open li:nth-child(6) {
	 animation-delay: 0.6s;
}
 #menu.open li:nth-child(7) {
	 animation-delay: 0.7s;
}
 #menu.open li:nth-child(8) {
	 animation-delay: 0.8s;
}
 #menu.open li:nth-child(9) {
	 animation-delay: 0.9s;
}
 #menu.open li:nth-child(10) {
	 animation-delay: 1s;
}
 #menu.open li {
	 animation-duration: 1s;
	 animation-fill-mode: both;
	 animation-name: fadeInUp;
}
 #menu ul:hover a {
	 opacity: 0.5;
}
 #menu ul a {
	 -webkit-transform: translateZ(0);
	 transition: opacity 0.3s ease-in-out;
}

 #menu ul a:hover {
	 opacity: 1;
}
 #menu .main-nav {
	 position: relative;
	 top: 50%;
	 transform: translateY(-50%);
}
 #menu .main-nav ul {
	 list-style: none;
	 margin: 0;
	 padding: 0;
}
 #menu .main-nav a {
	 color: #fff;
	 display: block;
	 font-size: 2.5rem;
	 font-weight: bold;
	 padding: 1rem 1rem;
	 text-decoration: none;
	 text-transform: uppercase;
}
 #menu .main-nav a:first {
	 padding-top: 0;
}

 .toggle-menu {
	 background-color: transparent;
	 border: none;
	 cursor: pointer;
	 display: inline-block;
	 float: right;
	 height: 50px;
	 outline: none;
	 pointer-events: initial;
	 position: relative;
	 vertical-align: middle;
	 width: 50px;
	 z-index: 9999999;
}


.menu-bean{
    position: relative;
}

.bean{
    width: 40px;
    position: absolute;
    top:-50%;
    right:26%;
}
.close{
	position: absolute;
	top: -10px;
	right: 27%;
}

.menu{
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 1.3rem;
    position: absolute;
    top:80%;
    right:5%;
}


.link-bean{
	width: 25px;
	display: none;
}

a:hover .link-bean{
	  display: unset;
}



/* Banner  */

.banner-img{
    width: 100%;
    height: 90vh;
    padding-top: 20px;
}

/* About Section */

#about-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10% 20px;
	overflow-x: hidden;
}

#about {
    width: 40%;
	padding: 0px 10px;
}

.about-text{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Lancelot', serif;
    color: #000;
    line-height: 1.5;
}

.about-img{
    width: 600px;
	margin: 0px 10px;
}

@media screen and (max-width:1074px) {
	#about{
		width: 60%;
		z-index: 99;
		/* padding-top: 150px; */
	}
	#about-container{
		position: relative;
		justify-content: left;
		height: 600px;
	}
	.about-img{
		position: absolute;
		right: -50px;
		top: 0px;
	}
}
@media screen and (max-width:816px) {
	.about-img{
		width: 500px;
		top: 100px;
	}
	#about-container{
		height: 700px;
	}
}
@media screen and (max-width:658px) {
	.about-img{
		position: static;
	}
	#about-container{
		height: unset;
		justify-content: center;
	}
	#about{
		width: 90%;
	}
}



/* Story  */

#story{
    position: relative;
	position: relative;
	z-index: 9999;
}

.cups-div{
    background-image: url('../images/story-cups.png');
    width: 100%;
    height: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
	/* margin-top:50px; */
	/* margin-bottom:50px; */
}
@media screen and (max-width:1493px) {
	.cups-div{
		margin-bottom:50px;
		height: 200px;
	}
}

.story-title{
    font-family: 'Lora', serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top:2%;
    left: 50%;
    margin-left: -200px;
	color: #3e1503;
}

.story-tiles{
	
    width: 90%;
    height: 80vh;
    background-color: #fff;
	margin: 0 auto;
}

/* STORY - GSAP Area */

.vh {
	height: 100vh;
	background-color: rgba(255,0,0,0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10vw;
	font-weight: bold;
  }
  
  .vh:before {
	content: '100VH'
  }
 
.philosophie {
	position: relative;
	background-color: #fff;
  }
  
  .indicators {
	right: 500px;
	top: 0;
	margin: 5vh 0;
	margin-left: 70vh;
	height: 50px;
	width: 80px;
	display: none;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	color: #000;
  }
  
  .indicator {
	  
	width: 100px;
	padding: 10px;
	/* height:100%; */
	margin-left: 50px;
	background-color:transparent;
	flex-grow: 1;
	border-radius: 100px;
	border: 2px solid #67412b;
	color: #000;
	font-family: 'Lora', serif;
	font-size: 1.2rem;
	font-weight: 700;
	/* margin: 2px 0; */
  }
  @media screen and (max-width:1031px) {
	.indicators {
		top: -25px;
		margin-left: unset;
		right: 65%;
		margin-right:-0px ;
	}
	.indicator {
		margin-left:30px;
	}
  }
  @media screen and (max-width:832px) {
	.indicators {
		right: 70%;
	}
}
@media screen and (max-width:638px) {
	.indicators {
		right: 75%;
	}
}

@media screen and (max-width:600px) {
	.indicator {
		margin-left:20px;
	}
}
@media screen and (max-width:424px) {
	.indicators {
		height: 30px;
		right: 55%;
	}
	.indicator {
		font-size: 0.9rem;
		padding: 5px;
		margin-left: 10px;
	}
}


  .philosophie .wrapper {
	height: 100vh;
	width: 100%;
  }
  
  .philosophie .point {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 4rem;
  }
  
  .point article {
	flex-basis: 40%;
	margin-left: auto;
	font-family: 'Lancelot', serif;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.5;
	color: #391103 ;
  }
  
  .personal-img {
	flex-basis: 50%;
	/* max-width: 40vw; */
	width: 200px;
	height: auto;
  }
  .illustration{
	width: 10vw;
	margin-left: 300px;
}
  @media screen and (max-width:1367px) {
	.point article {
		flex-basis: unset;
		width: 400px;
		padding-left: 20px;
	}
	.personal-img {
		flex-basis: unset;
		width: 500px;
	}
  }
  @media screen and (max-width:1147px) {
	.personal-img {
		width: 400px;
	}
  }
  @media screen and (max-width:1031px) {
	.philosophie .point {
		justify-content: center;
		/* margin-top: 40px; */
	}
	.point article {
		margin: 0 auto;
		width: 500px;
	}
  }
  @media screen and (max-width:600px) {
	.personal-img {
		width: 300px;
	}
  }
  @media screen and (max-width:424px) {
	.personal-img {
		width: 200px;
	}
	.point article {
		margin: 0 auto;
		width: 300px;
	}
	.illustration{
		margin-left: 200px;
	}
  }
  @media screen and (max-width:320px) {
	.personal-img {
		width: 200px;
	}
	.point article {
		margin: 0 auto;
		width: 250px;
	}
	.illustration{
		margin-left: 150px;
	}
  }

 

  /* Product */

  #product{
	margin-top: 650vh  
  }

  .product-title{
	  text-align: center;
	  font-size: 2rem;
	  font-family: 'Lora', serif;
	  color: #3e1503;
  }

  .product-container{
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
	padding: 0px 20px;
  }

  .product-name{
	  margin-top: 20px;
	  margin: 20px 10px;
	  font-size: 1.8rem;
	  font-family: 'Lancelot', serif;
  }
  .beans{
	  padding-bottom: 40px;
  }
  .bean-img, .freeze-img{
	  width: 500px;
	  margin: 0px 10px;
  }

  .bean-img:hover{
	  opacity: 0.3;
	  cursor: pointer;
  }

  .bean-img:hover ~ .view-des1{
	display: block;
}

  .freeze-img:hover{
	opacity: 0.3;
	cursor: pointer;
}

.freeze-img:hover ~ .view-des2{
	display: block;
}

@media screen and (max-width:600px) {
	.bean-img, .freeze-img{
		width: 400px;
	}
}
@media screen and (max-width:500px) {
	.bean-img, .freeze-img{
		width: 300px;
	}
}
@media screen and (max-width:400px) {
	.bean-img, .freeze-img{
		width: 250px;
	}
}

.view-des1{
	display: none;
	position: absolute;
	top:50%;
	left:20%;
	margin-left: -80px;
	font-size: 1.6rem;
	font-family: 'Lora', serif;
	font-weight: 700;
}

.view-des2{
	display: none;
	position: absolute;
	top:50%;
	right:20%;
	margin-right: -80px;
	font-size: 1.6rem;
	font-family: 'Lora', serif;
	font-weight: 700;
}


/* Modal */


html.modal-active, body.modal-active {
	overflow: hidden;
}
#modal-container {
	position: fixed;
	display: table;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transform: scale(0);
	z-index: 1;
	opacity: 0.9;
}

#modal-container.six {
	transform: scale(1);
}
#modal-container.six .modal-background {
	background: rgba(0, 0, 0, .0);
	animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six .modal-background .modal {
	background-color: transparent;
	animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six .modal-background .modal h2, #modal-container.six .modal-background .modal p {
	opacity: 0;
	position: relative;
	animation: modalContentFadeIn 0.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six .modal-background .modal .modal-svg rect {
	animation: sketchIn 0.5s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out {
	animation: quickScaleDown 0s 0.5s linear forwards;
}
#modal-container.six.out .modal-background {
	animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out .modal-background .modal {
	animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out .modal-background .modal h2, #modal-container.six.out .modal-background .modal p {
	animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.six.out .modal-background .modal .modal-svg rect {
	animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}


#modal-container .modal-background {
	display: table-cell;
	background: rgba(0, 0, 0, .8);
	text-align: center;
	vertical-align: middle;
}
#modal-container .modal-background .modal {
	background: white;
	padding: 50px;
	display: inline-block;
	border-radius: 3px;
	font-weight: 300;
	position: relative;
}
#modal-container .modal-background .modal h2 {
	font-size: 25px;
	line-height: 25px;
	margin-bottom: 15px;
}
#modal-container .modal-background .modal p {
	font-size: 18px;
	line-height: 22px;
}
#modal-container .modal-background .modal .modal-svg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 3px;
}
#modal-container .modal-background .modal .modal-svg rect {
	stroke: #fff;
	stroke-width: 2px;
	stroke-dasharray: 778;
	stroke-dashoffset: 778;
}


@keyframes sketchIn {
	0% {
		stroke-dashoffset: 778;
   }
	100% {
		stroke-dashoffset: 0;
   }
}
@keyframes sketchOut {
	0% {
		stroke-dashoffset: 0;
   }
	100% {
		stroke-dashoffset: 778;
   }
}

@keyframes fadeIn {
	0% {
		background: rgba(0, 0, 0, .0);
   }
	100% {
		background: rgba(0, 0, 0, .7);
   }
}
@keyframes fadeOut {
	0% {
		background: rgba(0, 0, 0, .7);
   }
	100% {
		background: rgba(0, 0, 0, .0);
   }
}
@keyframes scaleUp {
	0% {
		transform: scale(0.8) translateY(1000px);
		opacity: 0;
   }
	100% {
		transform: scale(1) translateY(0px);
		opacity: 1;
   }
}
@keyframes scaleDown {
	0% {
		transform: scale(1) translateY(0px);
		opacity: 1;
   }
	100% {
		transform: scale(0.8) translateY(1000px);
		opacity: 0;
   }
}

@keyframes quickScaleDown {
	0% {
		transform: scale(1);
   }
	99.9% {
		transform: scale(1);
   }
	100% {
		transform: scale(0);
   }
}

@keyframes modalFadeIn {
	0% {
		background-color: transparent;
   }
	100% {
		background-color: white;
   }
}
@keyframes modalFadeOut {
	0% {
		background-color: white;
   }
	100% {
		background-color: transparent;
   }
}
@keyframes modalContentFadeIn {
	0% {
		opacity: 0;
		top: -20px;
   }
	100% {
		opacity: 1;
		top: 0;
   }
}
@keyframes modalContentFadeOut {
	0% {
		opacity: 1;
		top: 0px;
   }
	100% {
		opacity: 0;
		top: -20px;
   }
}

.modal h1{
	font-family: 'Lancelot', serif;
	font-size: 1.5rem;
}

.modal-inner{
	text-align: left;
	font-family: 'Lancelot', serif;
	font-size: 1.2rem;
	width: 70vw;
	height:50vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.roasted{
	width: 300px;
	opacity: 1;
}

/* Wholesale  */

.wholesale-container{
	height:300px;
	width:100%;
	background-image: url('../images/dtb-bg.png');
	background-position: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	margin-bottom: 100px;
}

.hampers-container{
	height:300px;
	width:100%;
	background-image: url('../images/hamper-bg.png');
	background-position: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	margin-bottom: 100px;
}

.wholesale-content, .hampers-content{
	font-family: 'Lancelot', serif;
	font-size: 1.5rem;
	font-weight: 400;
	position: absolute;
	top:50%;
}

.wholesale-content{
	left:5%;
	width: 40%;
}

.hampers-content{
	right:5%;
	width: 40%;
}

@media screen and (max-width:1257px) {
	
	.wholesale-content{
		left:20px;
	}
	
	.hampers-content{
		right:20px;
	}
}

.wholesale-title, .hampers-title{
	padding-top:200px;
	padding-bottom:100px;
	text-align: center;
	font-family: 'Lora', serif;
	font-size: 2rem;
	font-weight: 700;
}


.dbtb,.gift{
	position: absolute;
	top:-25%;
	width: 450px;
	height: 450px;
	-webkit-filter: drop-shadow(5px 5px 5px rgb(112, 101, 101));
	filter: drop-shadow(5px 5px 5px rgb(112, 101, 101));
}

.dbtb{
	right:15%;
}

.gift{
	left:15%;
}

.caption-dbtb, .caption-gift{
	font-size: 0.9rem;
	font-family: 'Lora', sans-serif;
	font-weight: 800;
	width: 450px;
	position: absolute;
}

.caption-dbtb{
	right:15%;
	bottom: -40%;
}

.caption-gift{
	left:15%;
	bottom: -35%;
}

.enquire{
	background-color: #67412b;
	color: #fff;
	padding: 1% 2%;
	font-family: 'Lora', serif;
	font-size: 1.3rem;
	border-radius: 5px;
	position: absolute;
	bottom:-65%;
	right:15%;
	font-weight: 500;
}

.enquire:hover{
	background-color: #fff;
	color: #67412b;
	cursor: pointer;
}

.enq{
	background-color: #67412b;
	color: #fff;
	padding: 1% 2%;
	font-family: 'Lora', serif;
	font-size: 1.3rem;
	border-radius: 5px;
	position: absolute;
	bottom:-60%;
	left:15%;
	font-weight: 500;
}

@media screen and (max-width:1257px) {
	.dbtb{
		right:10%;
	}
	
	.gift{
		left:10%;
	}
	.enquire{
		right: 10%;
		bottom: -50%;
	}
	.enq{
		left: 10%;
		bottom: -50%;
	}
	.caption-dbtb{
		right:10%;
		bottom: -30%;
	}
	
	.caption-gift{
		left:10%;
		bottom: -30%;
	}
	
}
@media screen and (max-width:1014px) {
	.dbtb, .gift{
		width: 350px;
		height: 350px;
		top:-10px;
	}
	.dbtb{
		right:10%;
	}
	.gift{
		left:10%;
	}
	.enquire{
		right: 10%;
	}
	.enq{
		left: 10%;
	}
	.caption-dbtb, .caption-gift{
		width: 350px;
	}
	.caption-dbtb{
		right:10%;
	}
	
	.caption-gift{
		left:10%;
	}
	
}

@media screen and (max-width:748px) {
	.dbtb, .gift{
		width: 300px;
		height: 300px;
		top:-10px;
	}
	.dbtb{
		right:5%;
	}
	.gift{
		left:5%;
	}
	.enquire{
		right: 5%;
		bottom:-35%;
	}
	.enq{
		left: 5%;
		bottom:-35%;
	}
	.caption-dbtb, .caption-gift{
		width: 300px;
	}
	.caption-dbtb{
		right:5%;
		bottom:-15%;
	}
	
	.caption-gift{
		left:5%;
		bottom:-15%;
	}
	
}

@media screen and (max-width:627px) {

	.wholesale-content, .hampers-content{
		top:10%;
		width: 60%;
	}

	.dbtb, .gift{
		top:50%;
	}
	.enquire{
		bottom:-85%;
	}
	.enq{
		bottom:-85%;
	}
	.caption-dbtb{
		bottom:-65%;
	}
	
	.caption-gift{
		bottom:-65%;
	}
	.hampers-title{
		padding-top: 250px;
	}
}

@media screen and (max-width:418px) {
	.wholesale-content, .hampers-content{
		width: 90%;
	}
}

@media screen and (max-width:380px) {
	.dbtb, .gift{
		width: 250px;
		height: 250px;
	}
	.dbtb{
		right:5%;
	}
	.gift{
		left:5%;
	}
	.enquire{
		right: 5%;
		bottom: -65%;
	}
	.enq{
		left: 5%;
		bottom: -65%;
	}
	.caption-dbtb, .caption-gift{
		width: 250px;
	}
	.caption-dbtb{
		right:5%;
		bottom: -50%;
	}
	
	.caption-gift{
		left:5%;
		bottom: -50%;
	}
}

.enq:hover{
	background-color: #fff;
	color: #67412b;
	cursor: pointer;
}

/* testimonials  */

.testimonial-title{
	font-family: 'Lora', serif;
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
	margin-top: 250px;
}

@media screen and (max-width:627px) {
	.testimonial-title{
		margin-top: 350px;
	}
}


.testimonial-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
}

.testi1,.testi2,.testi3{
	position: relative;
}

.test1,.test2,.test3{
	width: 240px;
	text-align: justify;
	font-family: 'Lancelot', serif;
	font-size: 1.5rem;
	position: absolute;
	top:30%;
	left:20%;
	color: #391103;
}
.cust-name{
	color:#b83335;
	width: 250px;
	font-family: 'Lancelot', serif;
	font-size: 1.2rem;
	position: absolute;
	bottom:20%;
	left:20%;
}

@media screen and (max-width:500px) {
	.test1,.test2,.test3{
		width: 200px;
	}
	.testi1 img,.testi2 img,.testi3 img{
		width: 350px;
		height: 700px;
	}
	.cust-name{
		width: 200px;
	}
}

@media screen and (max-width:400px) {
	.test1,.test2,.test3{
		width: 150px;
	}
	.testi1 img,.testi2 img,.testi3 img{
		width: 250px;
		height: 1000px;
	}
	.cust-name{
		width: 150px;
	}
}



/* Footer  */

.footer{
	/* height:700px; */
	background-image: url(../images/footer.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 100px;
}

@media screen and (max-width:1172px){
	.footer{
		background-size: contain;
	}
}

.footer h1{
	color: #391102;
	font-family: 'Lora', serif;
	font-size: 1.8rem;
	padding-bottom: 10px;
}
.contact{
	padding-bottom: 50px;
}
.icon{
	font-size: 25px;
	margin: 0 8px;
	color: #391102;
}

.contact-detail{
	width: 400px;
	padding-top: 200px;
	padding-left: 150px;
	text-align: center;
}

.contact-form{
	width: 300px;
	padding-top: 200px;
	padding-right: 20px;
}
@media screen and (max-width: 700px) {
	.contact-detail{
		padding-left: unset;
	}
	.contact-form{
		padding-top: 100px;
		padding-right: 0px;
	}
}
@media screen and (max-width: 350px) {
	.contact-form{
		width: 250px;
	}
}
input[type=text], textarea {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-sizing: border-box;
	background-color: #d0c5c2;
	font-family: 'Lancelot', serif;
	font-size: 1.2rem;
  }

  input[type=button]{
	background-color: #3e1503;
	font-family: 'Lancelot', serif;
	font-size: 1.5rem;
	text-transform: uppercase;
	width: 100%;
	padding: 5%;
	color: #fff;
	border-radius: 2px;
	border: 1px solid #ccc;
  }

  input[type=button]:hover{
	  background-color: #ccc;
	  color: #391102;
	  cursor: pointer;
  }